<% @title = "TAMU LMSA Points" %>
<%= stylesheet_link_tag "home.css" %>
<div class="container py-4">
    <h1 class="display-10 fw-bold text-light">Editing Point</h1>
    <%= render 'form', point: @point %>

    <%= link_to 'Show', @point %> |
    <%= link_to 'Back', points_path %>
</div>