<%= stylesheet_link_tag "login.css" %>
<% @title = "TAMU LMSA PLUS" %>

<div>
  <h1 style="color:white;">Welcome to LMSA PLUS Tracker</h1>
  <div class="body">
      <div><%= image_tag "logo.png", {class: "myimg"} %> </div>

      <div class="box-2 align-items-center">
        <a class="btn btn-outline-dark" href="<%=user_google_oauth2_omniauth_authorize_path%>" role="button" style="text-transform:none">
          <img width="25px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            <h3>Sign in with Google</h3>
        </a>

      <div>
        <p class="footer text-muted">By register you agree with our <span class="p-color me-1">terms and conditions</span>and <span class="p-color ms-1">privacy policy</span> </p>
      </div>

    </div> 
  </div>
</div>