<style>
    table {
        max-width:980px;
        table-layout:fixed;
        margin:auto;
    }
    th, td {
        padding:5px 10px;
        border:1px solid #000;
    }
    thead, tfoot {
        background:#f9f9f9;
        display:table;
        width:100%;
        width:calc(100% - 18px);
    }
    tbody {
        height:300px;
        overflow:auto;
        overflow-x:hidden;
        display:block;
        width:100%;
         width:calc(100% - 18px);
    }
    tbody tr {
        display:table;
        width:100%;
         width:calc(100% - 11px);
        table-layout:fixed;
    }
</style>


<div class="modal fade" id="activemodal" tabindex="-1" aria-labelledby="active_modal_label" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="result_modal_label">Active Members List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <table class="table table-striped w-75 align-items-center" style= "font-size:1.5rem;">
                <thead>
                    <tr>
                        <th>Active Members</th>
                    </tr>
                    </thead>
                    <br>
                    <tbody>
                    <% User.where(active_mem: true).each do |that_user| %>
                        <tr>
                            <td><p><%= link_to that_user.first_name+ " "+ that_user.last_name, user_path(that_user), {class:"link"}%> </p></td>
                        </tr>
                    <% end %>
                    </tbody>
                <br>
            </table>

            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>

    </div>

</div>