<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="removeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Remove Member</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <%= form_with url: "/remove_member" do |form| %>
                <div class="modal-body">
                    <% form.label :email, class: "form-label" %>
                    <%= form.text_field :email, {class: "form-control", placeholder: "Email"} %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <%= form.submit "Remove Member", {class:"btn btn-secondary", "data-bs-dismiss":"modal"} %>
                </div>
            <% end %>

        </div>

    </div>

</div>