<div class="modal fade" id="resetmodal" tabindex="-1" aria-labelledby="reset_modal_label" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetModalLabel">Reseting TAMU LMSA Points</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

        <%= form_with url: "/reset_semester" do |form| %>


            <div class="mb-3">
                <p>Are you Sure? This will clear every member's point history, referral history, and event attendance</p>
            </div> 


            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <%= form.submit "RESET", {class:"btn btn-secondary", "data-bs-dismiss":"modal"} %>

        <% end %>

        </div>

    </div>

</div>