<p id="notice"><%= notice %></p>

<% @title = "Help for Admins" %>
<%= stylesheet_link_tag "home.css" %>

<div class="container py-4">
<br>
    <h1  class="display-10 fw-bold text-light">Help for Admins</h1>
    <div class="p-5 mb-4 bg-light rounded-3" style="text-align: center;">
      <div class="container-fluid py-5">

    </div> 
  </div> 
</div> 

<br>