<% @title = "LMSA Home" %>
<%= stylesheet_link_tag "home.css" %>

<div class="container py-4">
    <br>
    <h1  class="display-10 fw-bold text-light">Points System 2021-2022</h1>
    <div class="d-flex flex-column bd-highlight p-5 mb-4 bg-light rounded-3">
        • 4 Points/Meeting: Attending an LMSA+ general meeting and signing in 
        <br>
        • 4 Points/Guest: Referring a healthcare professional
        <br>
        • 3 Points/Purchase: Purchasing LMSA+ merchandise
        <br>
        • 3 Points/Social: Attending an LMSA+ social and signing in 
        <br>
        • 3 Points/Fundraiser: Attending an LMSA+ fundraiser/profit share and signing in 
        <br>
        • 3 Points/Volunteering Event: Volunteering with LMSA+ and signing in 
        <br>
        • 2 Points/IG Q&A: Attending an LMSA+ IG Q&A and signing in 
        <br>
        • 1 Point/IG Q&A Form: Filling out an LMSA+ IG Q&A form
        <br>
        • 1 Point/Referral: Referring a friend to LMSA+ (Max: 3 friend referrals) 
        <br>
        • 1 Point/Social Media Share: Promoting LMSA+ on social media and tagging LMSA+ 
        <br>
        • 1 Point/$ Spent in Raffle: Participating in an LMSA+ raffle (max: 10 points) 
        <br>
        • 1 Point/Opportunity:  Sharing an volunteering, research, internship, clinical job through the LMSA+ Opportunities form
        <br>
    </div>
</div>