<div class="modal fade" id="explainmodal" tabindex="-1" aria-labelledby="result_modal_label" aria-hidden="true">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="explainModalLabel">Referral Explantion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>You will be awarded points once that user signs into TAMU LMSA Plus</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Okay</button>
            </div>

        </div>

    </div>

</div>