<p id="notice"><%= notice %></p>

<% @title = "Editing Referral" %>
<%= stylesheet_link_tag "home.css" %>

<div class="container py-4">
<h1 class="display-10 fw-bold text-light">Referrals</h1>
  <br>
    <div class="p-5 mb-4 bg-light rounded-3" style="text-align: left;">


    <h1>New Referral</h1>

    <%= render 'form', referral: @referral %>


    </div> 
  </div> 
</div> 